<div class="main">
  <div>
    <h1 style="color: #2682df; font-weight: bold;">
      Dear <%= @onboarding.name.capitalize %>
    </h1>
    <p>
      We regret to inform you that your onboarding application for Analytica has 
      not been approve at this time. The decision was based on the following reason:
    </p>

    <p style="color: #007bff; font-weight: bold;">
      <%= @onboarding.reason_for_disapproval.capitalize %>
    </p>

    <p>
      For security reasons, this link is only valid for the next 24 hours.
    </p>
    
    <p>
      We understand that circumstances may vary, and we value your interest in joining us. 
      If you believe that you can address the mentioned concern and would like to proceed with 
      your application, please click on the button below to edit your information:
    </p>

    <a href="<%= @url %>" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #ffffff; text-decoration: none; border-radius: 5px; margin-bottom: 20px;">
      Edit Application
    </a>

    <p>
      Should you have any questions or require further assistance, please do not hesitate to contact
      our support team at <span style="color: #007bff;"><%= ENV['DELIVERY_SUPPORT_EMAIL'] %></span>.
    </p>

    <p>
      Thank you for your understanding, and we appreciate your continued interest in Analytica.
    </p>
  </div>
  <div>
    <p style="font-style: italic; font-size: 14px;">
      In case the button doesn't work, you can also copy and paste the following URL into your browser:
    </p>
    <p style="font-style: oblique; font-size: 12px; color: #2682df; text-decoration: none;" href="<%= @url %>">
      <%= @url %>
    </p>
  </div>
</div>
