<% provide(:title, 'Resend confirmation instructions') %>

<div class="container flex justify-center p-2 my-8 mx-auto">
  <div class="bg-white w-full md:w-2/5 px-2.5 py-6 shadow-lg border border-gray-300 rounded">
    <div class="border-b pb-4 mb-5">
      <h1 class="font-bold text-2xl leading-0 tracking-tight mb-0">Resend confirmation instrutions?</h1>
      <p class="text-xs leading-0 m-0">
        Have you received the instructions?
        <%= link_to "Sign in", new_company_session_path, class: "text-blue-500" %>
        to your account.
      </p>
    </div>

    <div class="p-1 border-b border-1">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "/shared/error_messages", errors: resource.errors.full_messages %>
        <div class="w-full mb-4">
          <%= f.label :email, class: 'text-sm font-semibold' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
                            class: 'w-full rounded border-1 bg-gray-50 border-1 border-slate-300 focus:bg-blue-100 focus:border-0
                              appearance-none border-slate-300 p-2 focus:border-blue-500 focus:text-sm'
          %>
        </div>

        <div class="w-full mb-7">
          <%= f.submit "Resend confirmation instructions", class: "w-full py-2 rounded hover:bg-blue-600 bg-blue-500 text-white" %>
        </div>
      <% end %>
    </div>
    <div class="text-blue-500 text-sm mt-8 p-1">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>