<main class="container mx-auto py-10">
  <%= link_to admin_root_path, class: "m-4 w-full md:w-1/5 px-8 mx-auto rounded hover:bg-blue-600 py-2 bg-blue-500 text-white", id: "next-button" do %>
    Back to dashbooard
  <% end %>
  <div class="p-4">
    <h3 class="text-gray-800 text-xl font-bold sm:text-2xl">
      Company Onboardings
    </h3>
    <p class="text-gray-600">
      Companies that have sent applications to join the platform.
    </p>
  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <%= search_form_for @q do |f| %>
      <div class="flex items-right jusify-center p-2 md:justify-end flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative">
          <%= f.search_field :name_or_phone_or_email_cont, class: 'm-2 p-2  text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50', placeholder: 'Search...' %>
          <%= f.submit 'Search', class: " text-white mx-2 bg-blue-500 hover:bg-blue-600 px-3 py-1 rounded" %>
        </div>
      </div>
    <% end %>
    
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Company name
          </th>
          <th scope="col" class="px-6 py-3">
            Email Address
          </th>
          <th scope="col" class="px-6 py-3">
            Phone
          </th>
          <th scope="col" class="px-6 py-3">
            Approval
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @company_onboardings.each do |onboarding| %>
        <tr class=" bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= onboarding.name %>
          </th>
          <td class="px-6 py-4">
            <%= onboarding.email %>
          </td>
          <td class="px-6 py-4">
            <%= onboarding.phone %>
          </td>
          <td class="px-6 py-4">
            <div class="flex items-center">
              <% case onboarding.approval %>
              <% when 'pending_review' %>
                <div class="h-2.5 w-2.5 rounded-full bg-blue-500 me-2"></div>
              <% when 'approved' %>
                <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div>
              <% when 'disapproved' %>
                <div class="h-2.5 w-2.5 rounded-full bg-rose-500 me-2"></div>
              <% end %>
               <%= onboarding.approval.split('_').join(' ') %>
            </div>
            
          </td>
          <td class="py-4 ">
            <%= link_to company_onboarding_path(onboarding) do%>
              <span class="font-medium text-blue-600 dark:text-blue-500 hover:underline">View</span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= render 'shared/pagy', records: @pagy %>
  </div>

</main>