<div class="max-w-sm p-2 mb-4 bg-gray-100 border-dashed border-2 border-gray-400 rounded-lg items-center mx-auto text-center cursor-pointer">
  <div id="<%= "image-preview_#{locals[:uniq]}" %>" class="p-6-bg-gray-100"></div>
  <div class="block" id="<%= locals[:uniq] %>">
    <%= locals[:form].file_field locals[:attribute].to_sym, multiple: locals[:multiple], accept: 'image/*', id: "#{locals[:form].object.class.to_s.underscore}_#{ locals[:attribute].to_s }", class: 'hidden' %>
    <%= locals[:form].label locals[:attribute].to_sym, class: 'text-base font-medium cursor-pointer'.html_safe do %>
      <h1 class="mdi mdi-cloud-arrow-up leading-0 tracking-tight p-0 text-6xl text-center"></h1>
      <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-700">Upload <%= locals[:multiple] ? 'Images' : 'Image' %></h5>
      <p class="font-normal text-sm text-gray-400 md:px-6">Each photo should be less than <b class="text-gray-600">5mb</b></p>
      <p class="font-normal text-sm text-gray-400 md:px-6">and should be in <b class="text-gray-600">JPG, PNG, or GIF</b> format.</p>
      <span id="filename" class="text-gray-500 bg-gray-200 z-50"></span>
    <% end %>
  </div>
</div>

<script>
  const uploadInput = document.getElementById('<%= "#{locals[:form].object.class.to_s.underscore}_#{locals[:attribute].to_s }" %>');
  const filenameLabel = document.getElementById('filename');
  const imagePreview = document.getElementById('<%= "image-preview_#{locals[:uniq]}" %>');

  // Check if the event listener has been added before
  let isEventListenerAdded = false;

  uploadInput.addEventListener('change', (event) => {
    const file = event.target.files[0];

    if (file) {
      filenameLabel.textContent = file.name;

      const reader = new FileReader();
      reader.onload = (e) => {
        const uniq_form = document.getElementById('<%= locals[:uniq] %>')
        uniq_form.classList.add('hidden')
        imagePreview.innerHTML =
          `<img src="${e.target.result}" class="max-h-48 rounded-lg mx-auto" alt="Image preview" />`;
        uniq_form.classList.remove('border-dashed', 'border-2', 'border-gray-400');
        // Add event listener for image preview only once
        if (!isEventListenerAdded) {
          imagePreview.addEventListener('click', () => {
            uploadInput.click();
          });
          isEventListenerAdded = true;
        }
      };
      reader.readAsDataURL(file);
    } else {
      filenameLabel.textContent = '';
      imagePreview.innerHTML =
        `<div class="bg-gray-200 h-48 rounded-lg flex items-center justify-center text-gray-500">No image preview</div>`;
      imagePreview.classList.add('border-dashed', 'border-2', 'border-gray-400');

      // Remove the event listener when there's no image
      imagePreview.removeEventListener('click', () => {
        uploadInput.click();
      });

      isEventListenerAdded = false;
    }
  });

  uploadInput.addEventListener('click', (event) => {
    event.stopPropagation();
  });
</script>
