<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/header' unless (company_signed_in? || administrator_signed_in?) && !current_page?(root_path) %>

    <%= render 'shared/flash_messages', data: flash %>
    <main class="">
      <%= yield %>
    </main>
  </body>
</html>
