<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title('Reverse auction') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: 'all' %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/tail.select.js@0.5.22/css/default/tail.select-light.css" %>
    <%= stylesheet_link_tag "https://cdn.materialdesignicons.com/7.4.47/css/materialdesignicons.min.css" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/tail.select.js@0.5.22/js/tail.select.min.js" %>
  </head>

  <body>
  <%= render 'shared/navigations' %>

  <main class="rounded-lg mt-14 lg:ml-64">
    <%= render 'shared/flash_messages', data: flash %>
    <%= yield %>
  </main>

</body>

<script type="text/javascript">
  tail.select(".tail");
</script>
</html>


